* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0;
}

body {
  margin: 0px;
  background-color: rgb(20, 20, 20);
}
h1 {
  text-align: center;
  padding: 2rem;
}
.content-holder {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  display: none;
}

section {
  width: 80vw;
  padding-bottom: 4rem;
}

.intro > p {
  font-size: 4rem;
}

.about-me {
}

.projects {
  height: fit-content;
  color: black;
}

.project {
  width: 80vw;
  padding-bottom: 1rem;
}

.details {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  padding: 0.5rem;
  border-radius: 5px;
  min-width: fit-content;
}
.details > h3,
.details > p {
  color: white;
}

.site-img {
  min-width: 250px;
  width: 100%;
  padding: 0.5rem 0;
}

.project-details {
  display: flex;
  justify-content: space-between;
}

.project-links {
  display: flex;
}

.project-links > * {
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
  nav {
    display: block;
    height: 100vh;
    position: sticky;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
  }

  li {
    padding: 20px 40px;
    list-style-type: none;
  }

  .project {
    max-width: 40vw;
  }
}
