* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0;
}

body {
  margin: 0px;
  background-color: rgb(20, 20, 20);
}

.content-holder {
  display: flex;
}

nav {
  display: none;
}

nav > ul {
  display: flex;
}

ul {
  padding: 5px 20px;
}

.projects {
  height: fit-content;
  color: black;
}

.details {
  background-color: rgba(255, 255, 255, 0.9);
}
.details > h3,
.details > p {
  color: black;
}

#photography-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80vw;
  height: 100vw;
  background-image: url("./images/photography-site.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .content-holder {
    display: flex;
  }

  nav {
    display: block;
  }

  nav > ul {
    display: flex;
    flex-direction: column;
  }

  ul {
    padding: 10px 40px;
    list-style-type: none;
  }
}
